.team-main-container {
  display: flex;
  flex-direction: column;
  margin-top: 11rem;
}

.main-heading {
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
}

.heart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-title {
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "inter";
  margin-top: 0.4rem;
}

.heart-icon {
  font-size: 1.8rem;
  color: #272e35;
}

.person-image {
  height: 12.8rem;
  width: 12.8rem;
}

.team-persons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8rem;
  margin-top: 4rem;
  margin-bottom: 13.6rem;
}

.person-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-name {
  font-size: 1.6rem;
  font-weight: 700;
  font-family: "inter";
  color: #272e35;
  margin-top: 3.2rem;
}

.role {
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "inter";
  color: #6e757c;
  margin-top: 0.4rem;
  width: 16rem;
  text-align: center;
}

@media (max-width: 56em) {
  .team-persons-container {
    grid-template-columns: repeat(2, 1fr);
  }
  /* .team-main-container {
    margin-top: 1rem;
  } */
}

@media (max-width: 41em) {
  .team-main-container {
    margin-top: 1rem;
  }
}

@media (max-width: 31em) {
  .person-image {
    height: 9.6rem;
    width: 9.6rem;
  }
  .title-name {
    font-size: 1.4rem;
  }

  .role {
    font-size: 1.2rem;
    width: 14rem;
    margin-top: 0.6rem;
  }
}

@media (max-width: 23em) {
  .team-persons-container {
    gap: 3rem;
  }
  .person-image {
    height: 8rem;
    width: 8rem;
  }
  .title-name {
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  .role {
    font-size: 0.8rem;
    width: 12rem;
    margin-top: 0.6rem;
  }
}

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
