/* Add your CSS styles here */
.accordion {
  width: 50%;
}

.accordion-item {
  margin-bottom: 4rem;
  cursor: pointer;
  overflow: hidden; /* Hide the content when closed */
  transition: max-height 1s ease-out; /* Add a smooth max-height transition */
}

.accordion-item.open {
  background-color: #f9f9f9;
  border-radius: 1.6rem;
  padding: 3.2rem 3.2rem 6.4rem 3.2rem;
  max-height: 500px; /* Adjust the max-height to a suitable value */
}

.accordion-title {
  padding: 10px;
  font-weight: 600;
  font-size: 1.8rem;
  color: #6e757c;
}

.accordion-title.open {
  color: #272e35;
}

.accordion-content {
  padding: 10px;
  font-family: "inter";
  font-weight: 500;
  font-size: 1.6rem;
  color: #6e757c;
}
